extends layout

block content
  h1= title
  h5 Click to view more information about a high school.
  br

  ul
    each highSchool in highSchoolList
      li(type='square')
        a(href=highSchool.url) #{highSchool.highSchoolName}

    else
      li There are no high schools.
