extends layout

block content 
  h2 Current TWIST Schedule
  hr
  .row
    .col-lg-12
      table(class='table table-bordered')
        thead
          tr
            th Session
            th Time
            th Topic
            th Building
            th Room
            th Number of Participants
        tbody
          tr
            td  
            td  
            td  
            td  
            td  
            td  

  if error
    p Error getting dynamic content.
  else
    br
    p Current number of participants:

    ul
      li #[strong Participants:] !{data.participantCount}
      li #[strong High Schools:] !{data.highSchoolCount}
    
    



        

