extends layout

block content 
  br

  if error
    p Error getting dynamic content.
  else
    br
    p Current number of participants:

    ul
      li #[strong Participants:] !{data.participantCount}
      li #[strong High Schools:] !{data.highSchoolCount}
    
    



        

