doctype html
html(lang='en')
  head
    title TWIST Homepage
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/twist') Home
              li
                a(href='/twist/highSchool') All high schools
              li
                a(href='/twist/participant') All participants
              li
                a(href='/twist/presenter') All presenters
              li
                a(href='/twist/room') All rooms
              li
                a(href='/twist/schedule') All schedules
              li
                a(href='/twist/session') All sessions
              li
                a(href='/twist/topic') All topics
              li
                hr
              li
              li
                a(href='/twist/highSchool/create') Add new high school
              li
                a(href='/twist/participant/create') Add new participant


        div(class='col-sm-10')
          block content
