extends layout

block content
  h1= title
  h5 Click to view more information about a participant.
  br
  script.
    function sortList() {
    var list, i, switching, b, shouldSwitch;
    list = document.getElementById("id01");
    switching = true;

    while (switching) {

    switching = false;
    b = list.getElementsByTagName("LI");

    for (i = 0; i < (b.length - 1); i++) {
    shouldSwitch = false;
    if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
    shouldSwitch = true;
    break;
    }
    }
    if (shouldSwitch) {
    b[i].parentNode.insertBefore(b[i + 1], b[i]);
    switching = true;
    }
    }
    }

  ul
    each participant in participantList
      li(type='square')#id01
        a(href=participant.url) #{participant.name}

    else
      li There are no participants.
