extends layout

block content
  h1= title
  h5 Click to view more information about a participant.
  br

  ul
    each participant in participantList
      li
        a(href=participant.url) #{participant.name}

    else
      li There are no participants.
