<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Simple site using mongoDB for a student/school database.</h1>
			<hr />
			<div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
				<h3>Add new school:</h3>
				<form action="/api/school" method="post" class="form-grid"> <!-- Post method matches endpoint -->
					<input class="form-control" type="text" name="name" placeholder="Name"> <br>
				  <input class="form-control" type="text" name="address"  placeholder="Address"> <br>
					<input class="form-control" type="text" name="city"  placeholder="City"> <br>
					<input class="form-control" type="text" name="state"  placeholder="State"> <br>
					<input class="form-control" type="text" name="zip"  placeholder="Zip"> <br>
					<button type="button" class="btn btn-outline">Add school</button>
				</form>	<br>
				<h3>Add new student:</h3>
				<form action="/api/student" method="post"> <!-- Post method matches endpoint -->
					<input class="form-control" type="text" name="name" placeholder="Full name"> <br>
					<input class="form-control" type="text" name="address"  placeholder="Address"> <br>
					<input class="form-control" type="text" name="city"  placeholder="City"> <br>
					<input class="form-control" type="text" name="state"  placeholder="State"> <br>
					<input class="form-control" type="text" name="school"  placeholder="School"> <br>
					<input class="form-control" type="text" name="gradeLevel"  placeholder="Grade Level"> <br>
					<input class="form-control" type="text" name="email"  placeholder="Email"> <br>
					<input class="form-control" type="text" name="phone"  placeholder="Phone"> <br>
					<button type="button" class="btn btn-outline">Add student</button>
				</form>
			</div>
		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
