.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.08em;
}

table {
    border: 1px solid;
}

img {
    border-radius: 5px;
    width: 100%;
}

.row.intro {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.btn.btn-lg.btn-success {
    background-color: #61338c;
    border-color: #61338c;
}